/node_modules/ansi-regex
/node_modules/bl
/node_modules/base64-js
/node_modules/buffer
/node_modules/chardet
/node_modules/cli-spinners
/node_modules/clone
/node_modules/color-convert
/node_modules/color-name
/node_modules/defaults
/node_modules/escape-string-regexp
/node_modules/emoji-regex
/node_modules/has-flag
/node_modules/iconv-lite
/node_modules/ieee754
/node_modules/inherits
/node_modules/is-fullwidth-code-point
/node_modules/is-interactive
/node_modules/is-unicode-supported
/node_modules/log-symbols
/node_modules/mimic-fn
/node_modules/onetime
/node_modules/os-tmpdir
/node_modules/readable-stream
/node_modules/restore-cursor
/node_modules/safe-buffer
/node_modules/safer-buffer
/node_modules/signal-exit
/node_modules/string_decoder
/node_modules/supports-color
/node_modules/tmp
/node_modules/tslib
/node_modules/type-fest
/node_modules/util-deprecate
/node_modules/wcwidth